@import url("https://fonts.googleapis.com/css?family=Amarante");

body, html {
	height: 100%;
	font-family: Amarante, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Amarante;
	font-size: 14px;
	line-height: 1.7;
	color: #b4afaf;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
  
}

p {
	font-family: Amarante;
	font-size: 20px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


#mainNav{
    min-height: 56px;
  background-color: rgba(189, 75, 9, 0.644);
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: yellow;
  border: 1px solid yellow;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: rgb(158, 158, 21);
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(rgba(255, 255, 255, 0.897), 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgb(255, 255, 255);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(209, 133, 19, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: rgba(245, 94, 7, 0.767);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: yellow;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: yellow;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: yellow;
    outline: none;
    border-bottom: 0.25rem solid yellow;
  }
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background:/* linear-gradient(to bottom, rgba(255, 95, 3, 0.3) 0%, rgba(245, 61, 15, 0.7) 75%, #fc4545 100%),*/ url("../img/red-forest-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .masthead h1 {
    font-family: 'Varela Round';
    font-size: 2.5rem;
    line-height: 2.5rem;
    
    background: -webkit-linear-gradient(rgb(240, 72, 5), rgba(221, 245, 6, 0.6));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

  }
  
  .masthead h2 {
    max-width: 20rem;
    font-size: 1rem;
    color: rgb(207, 211, 19);
  }

  .mypic{
    width: 150px;
    height: 250px;
    margin-top: 25px;
    box-shadow: 0 10px 30px 2px #7d7c8080;
  }
  
  @media (min-width: 768px) {
    .masthead h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
    }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      padding: 0;
    }
    .masthead h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    .masthead h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
    .mypic{
      width: 400px;
      height: 500px;
      margin-top: 50px;
      
    }
  }
  
  .btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
  }
  
  .btn-primary {
    background-color: #d45206;
  }
  
  .btn-primary:hover {
    background-color: #dfae0f;
  }
  
  .btn-primary:focus {
    background-color: #f9fd05;
    color: rgb(94, 91, 91);
  }
  
  .btn-primary:active {
    background-color: #ffc400 !important;
  }

  .about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom, #f30c0c 0%, rgba(250, 134, 2, 0.9) 75%, rgba(253, 145, 4, 0.8) 100%);
  }
  
  .about-section p {
    margin-bottom: 5rem;
  }
  
  
  
  .social {
    margin-top: 15px;
  }
  
  .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: #d45106c7;
    border-radius: 100%;
    line-height: 3rem;
    color: yellow;
  }
  
  .social a:hover {
    color: #d45106;
    background: yellow;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
  }
  
  .social a:active {
    color: yellow;
  }
  .abdebo{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(255, 3, 3, 0.315) 0%, rgba(255, 83, 3, 0.233) 75%), url("../img/autumn_forest_trees.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .skidebo{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(255, 83, 3, 0.322) 0%, rgba(255, 0, 157, 0.288) 75%), url("../img/river-side.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  

  .prodebo{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 10rem 0 15rem;
    background:linear-gradient(to bottom, rgba(255, 20, 3, 0.322) 0%, rgba(255, 94, 0, 0.288) 75%), url("../img/sunrays.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .codebo{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background:/* linear-gradient(to bottom, rgba(255, 83, 3, 0.322) 0%, rgba(255, 0, 157, 0.288) 75%),*/ url("../img/artistic-red-forest-23.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .single-cool-fact {
    position: relative;
    z-index: 1;
    text-align: center; }
  .single-cool-fact .scf-icon {
      position: relative;
      z-index: 1;
      margin-bottom: 30px; }
      .single-cool-fact .scf-text h2 {
      font-size: 48px;
      margin-bottom: 20px;
      color: yellow;
      font-weight: 500; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-cool-fact .scf-text h2 {
          font-size: 36px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-cool-fact .scf-text h2 {
          font-size: 30px; } }
      @media only screen and (max-width: 767px) {
        .single-cool-fact .scf-text h2 {
          font-size: 24px; } }
    .single-cool-fact .scf-text h6 {
      font-size: 25px;
      text-transform: capitalize;
      margin-bottom: 0;
      color: #f5f4f4b7; }



  .single_gallery_item {
    display: inline-block;
    /*float: left;*/
    position: relative;
    z-index: 2;
    width: 43.3333334%;
    
    overflow: hidden;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms; }
    @media only screen and (max-width: 767px) {
      .single_gallery_item {
        width: 100%; } }
    .single_gallery_item img {
      width: 100%;
      -webkit-transition-duration: 2000ms;
      -o-transition-duration: 2000ms;
      transition-duration: 2000ms; }
    .single_gallery_item .hover-content {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 53, 2, 0.719);
      opacity: 0;
      visibility: hidden;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
    /*  .single_gallery_item .hover-content .zoe {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #ffffff;
        font-size: 20px;
        margin-bottom: 30px;
        color: #ffffff;
        line-height: 46px;
        margin-top: -15px;
        opacity: 0;
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms; */
      .single_gallery_item .hover-content h4 {
        margin-bottom: 0;
        color: #ffffff; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .single_gallery_item .hover-content h4 {
            font-size: 20px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .single_gallery_item .hover-content h4 {
            font-size: 16px; } }
        @media only screen and (max-width: 767px) {
          .single_gallery_item .hover-content h4 {
            font-size: 16px; } }
    .single_gallery_item:hover img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    .single_gallery_item:hover .hover-content {
      opacity: 1;
      visibility: visible; }
      .single_gallery_item:hover .hover-content .zoom-img {
        margin-top: 0;
        opacity: 1; }
  


  .single-skils-area {
    position: relative;
    z-index: 1;
    text-align: center; }
    .single-skils-area .circle {
      position: relative;
      z-index: 10;
      margin-bottom: 15px; }
    .single-skils-area .skills-text {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .single-skils-area .skills-text span {
        font-size: 48px;
        color: yellow;
        font-weight: 600; }
      .single-skils-area .skills-text p {
        margin-bottom: 0;
        color: #f1efef; }

         

       .card hr {
          border-color: yellow;
          border-radius: 50px;
          border-width: 0.25rem;
          width: 3rem;
        }
        .card {
          border: 0;
          border-bottom: 0.25rem solid yellow;
          background-color: rgba(255, 115, 0, 0.658); 
          border-radius: 50%;
        } 

        .text-primary {
          color: yellow !important;
        }
        
